<div id="main" role="main" class="container">
  <div class="page-header">
    <h1>Christopher Li</h1>
  </div>

  <div class="row">
    <div class="span5 well">
      <h2>About</h2>
      <p>I'm an electrical engineering student at USC, graduating May 2013. I've listed some of my projects on this page.</p>
      
      <a class="btn btn-primary" href="/chrisli_resume.pdf"><i class="icon-white icon-download"></i> Download resume (PDF)</a>
    </div>
    
    <div class="span5 well">
      <h2>Contact Me</h2>
      <ul>
        <li><a href="mailto:licy+site@usc.edu">Email</a></li>
        <li><a href="http://www.linkedin.com/pub/chris-li/13/b02/929">LinkedIn</a></li>
        <li><a href="http://facebook.com/christopher.y.li">Facebook</a></li>
        <li><a href="http://github.com/unregistered">Github</a></li>
      </ul>
      
    </div>
  </div>
  
  <hr/>
  
  {{outlet}}
  
  <hr/>
</div>
